*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
   background-color: white ;
}

.
.header { 
    display: flex;
    background-color: pink;
    border: 15px;
    border-color: red;
    margin: 80px;
}

.hero{
    display: flex;
    
}